h1 {
    color: rgb(221, 78, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;


    div {
        display: flex;
        gap: 10px;
        background-color: rgb(131, 87, 202);
        padding: 10px;
        width: 950px;
        color: white;
    }
}