<h1>Exemple avec <b>Subscription</b> -- UI REFRESH</h1>

@if (messages.length == 0) {
    <h2>Aucun message</h2>
}
@else {
    <h2>Messages</h2>
    <ul>
        @for (message of messages; track message) {
            <div>
                <li>{{ message.content }}</li>
                <button (click)="removeMessage(message.id ?? '')">Supprimer</button>
            </div>
        }
    </ul>
}

<input type="text" [(ngModel)]="newMessage" placeholder="Nouveau message" (keyup.enter)="addMessage()" />
<button (click)="addMessage()">Ajouter Message</button>
